FRED_API_KEY=
MACROFLOW_CAPITAL_TOTAL_BRL=
MACROFLOW_RUNTIME_DIR=
MACROFLOW_EXCEL_PATH=
MACROFLOW_PORT=8000
MACROFLOW_SCORE_MINIMO_OPERAR=65
MACROFLOW_STOP_BUFFER_PCT=0.005
MACROFLOW_TOUCH_TOLERANCE_PCT=0.0025
