# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE/editor
.vscode/

# Mac/Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Runtime artifacts
data/runtime/
